<ActionBar title="19 de julho de 2018" class="action-bar"></ActionBar>

<StackLayout class="page">
    <scrollView>
        <stackLayout class="form-content">
            <label [text]="iconInformation" class="fa text-center m-t-10"></label>
            <label text="Amor" class="h2 text-center m-t-10"></label>
            <label textWrap="true" class="text-left m-10" text="
            Sabe, eu só tenho a agradecer por tudo que tu tem feito, provavelmente vai dizer: ‘mas eu não fiz nada...’ só que você fez tudo. Mudou minha vida, me deu um sentido para continuar a acreditar que as coisas podiam da certo, me mostrou o que é o amor, através de você eu pude amar e saber que seria recíproco.                
            
            Você esteve comigo todo esse tempo, e apesar dos problemas, dificuldades e ate e mesmo a distancia continua aqui. Quando acordo todas as manhas nos teus ‘bom dia’ eu tenho a certeza da sorte que tenho, do quanto sou importante pelo menos para você, e como diz uma das musicas de scracho: ‘[..] Sorte nossa hein, encontrar alguém Pra dizer, que é só meu’.            
            
            Foi através de uma aposta besta de datas e doces que a historia mais linda da minha vida começou a se realizar, cada palavra, cada olhar, me encantou no primeiro momento, teu sorriso bobo e seu jeito torto tens me feito o homem mais feliz desse mundo. 
            
            Tudo que faço é para tirar um sorriso de teu rosto e se sou o motivo dele eu ganho meu dia, meu objetivo é te fazer a mulher mais amada dessa terra. Porque te amo, com todas as palavras que se pode ou não expressar. E amanhã de manhã ainda vou te amar." ></label>
            
            <label [text]="iconLove" class="fa text-center m-t-10"></label>
            <label textWrap="true" class="text-left m-10" text="
            Hoje eu preciso te encontrar de qualquer jeito
            Nem que seja só pra te levar pra casa
            Depois de um dia normal
            Olhar teus olhos de promessas fáceis
            E te beijar a boca de um jeito que te faça rir
            (Que te faça rir)
            
            Hoje eu preciso te abraçar
            Sentir teu cheiro de roupa limpa
            Pra esquecer os meus anseios e dormir em paz
            
            Hoje eu preciso ouvir qualquer palavra tua
            Qualquer frase exagerada que me faça sentir alegria
            Em estar vivo
            
            Hoje eu preciso tomar um café, ouvindo você suspirar
            Me dizendo que eu sou o causador da tua insônia
            Que eu faço tudo errado sempre, sempre
            
            Hoje preciso de você
            Com qualquer humor, com qualquer sorriso
            Hoje só tua presença
            Vai me deixar feliz
            Só hoje
            
            Hoje eu preciso ouvir qualquer palavra tua
            Qualquer frase exagerada que me faça sentir alegria
            Em estar vivo
            
            Hoje eu preciso tomar um café, ouvindo você suspirar
            Me dizendo que eu sou o causador da tua insônia
            Que eu faço tudo errado sempre, sempre
            
            Hoje preciso de você
            Com qualquer humor, com qualquer sorriso!
            Hoje só tua presença
            Vai me deixar feliz
            Só hoje
            Só hoje"></label>
            <label textWrap="true" class="text-center m-t-10" text=" Bom é isso ai. Espero que tenha gostado."></label>
            <label textWrap="true" class="text-right m-10" text="Thiago Santiago"></label>
            <label textWrap="true" class="text-right m-r-10" text="I Love You!"></label>
        </stackLayout>
    </scrollView>
</StackLayout>