<ActionBar title="Sobre o App" class="action-bar"></ActionBar>

<StackLayout class="page">
    <scrollView>
        <stackLayout class="form-content">
            <label [text]="iconInformation" class="fa text-center m-t-10"></label>
            <label text="Controle do CRE" class="h2 text-center m-t-10"></label>
            <label textWrap="true" class="text-left m-10" text="
            O controle CRE é uma aplicação que objetiva proporcionar aos estudantes universitários uma visão de suas notas. A partir de informações básicas, é possível obter uma visão do seu coeficiente acadêmico para o próximo semestre, como também, um panorama de suas médias em cada disciplina e uma perspectiva para as próximas provas.                
            
            Através de uma interface simples, agradável e de fácil acesso, o discente pode acompanhar suas notas.            
            
            Esta aplicação tem por base os cálculos de notas usados na Universidade Estadual da Paraíba (UEPB)." ></label>

            <label textWrap="true" class="text-center m-10" text="Σ(Nota da Disciplina * Carga Horaria)" style="margin-bottom: -20px"></label>
            <label textWrap="true" class="text-center" text="_________________________________________"></label>
            <label textWrap="true" class="text-center m-10" text="Σ(Cargas Horarias)" style="margin-top: 0px"></label>

            <label textWrap="true" class="text-center font-weight-bold m-10" text="Agradecimentos"></label>
            <label textWrap="true" class="text-center m-10" text="Esse projeto so pôde ser desenvolvido graças a ajuda de Jeferson Kal Lyns na parte de design, Ana flavia na correção dos textos, Amanda Marinho e Vanessa Santos na realização de testes. A todos vocês Obrigado."></label>            
            <label textWrap="true" class="text-center m-t-10" text=" Desenvolvedor: Thiago Vitor Porto Santiago."></label>
            <label textWrap="true" class="text-center text-muted h4" text="thiago.vps20@gmail.com | Contato: 83 9 99591313"></label>
            <label textWrap="true" class="text-center text-muted h5" text=" Direitos de ulitização Livre"></label>
        </stackLayout>
    </scrollView>
</StackLayout>