<ScrollView>
    <StackLayout class="content-disciplina">
        <label text="Nova Disciplina" class="text-center font-weight-bold m-10"></label>
        <!-- Nome -->
        <StackLayout>
            <label text="Nome" class="label font-weight-bold m-b-5"></label>
            <TextField class="input" backgroundColor="#f5f5f5" [(ngModel)]="disciplina.nome" #elementNome="ngModel" required></TextField>
            <StackLayout class="hr-light"></StackLayout>

            <StackLayout>
                <label *ngIf="!elementNome.valid && elementNome.dirty" text="Campo Obrigatório" class="text-right text-danger"></label>
            </StackLayout>
        </StackLayout>

        <!-- Professor -->
        <StackLayout>
            <label text="Professor" class="label font-weight-bold m-b-5"></label>
            <TextField class="input" backgroundColor="#f5f5f5" [(ngModel)]="disciplina.professor" ></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <!-- Carga Horária -->
        <StackLayout>
            <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
            <TextField class="input" backgroundColor="#f5f5f5" keyboardType="number" [(ngModel)]="disciplina.cargaHoraria" #element="ngModel" maxlength="4" required></TextField>
            <StackLayout class="hr-light"></StackLayout>

            <StackLayout>
                <label *ngIf="!element.valid && element.dirty" text="Campo Obrigatório" class="text-right text-danger"></label>
                <label *ngIf="cargaHorariaValidator()" text="Minimo de 2 caracteres" class="text-right text-danger"></label>
            </StackLayout>
        </StackLayout>

        <!-- Está Fechada? -->
        <GridLayout class="input-field" rows="*, *">
            <CheckBox #CB1 row="0" text="Fechar Disciplina" fillColor="#5485e4" class="checkBox" [(ngModel)]="disciplina.isClosed"></CheckBox> 
            <label row="1" textWrap="true" text="Uma disciplina fechada não poderá mais ser modificada." style="font-size: 15px; margin: 0px 25px 20px 15px;" class="text-muted"></label >  
        </GridLayout>

        <!-- Nota Geral -->
        <StackLayout *ngIf="disciplina.isClosed">
            <StackLayout style="text-align: center; width: 200px;">
                <label text="Nota" class="label font-weight-bold m-b-5"></label>
                <TextField class="input" keyboardType="number" backgroundColor="#f5f5f5" [(ngModel)]="notaGeral" maxlength="4"></TextField>
                <StackLayout class="hr-light"></StackLayout>   
            </StackLayout>
            <StackLayout style="font-size: 15px;">
                <label *ngIf="notaValidator()" text="Essa nota não é válida" class="text-center text-danger m-15"></label>
            </StackLayout> 
        </StackLayout>
        
            
        <button text="Adicionar" class="btn btn-primary" [isEnabled]="element.valid && elementNome.valid && !cargaHorariaValidator() && !notaValidator()" (tap)="sendNewDisciplina()"></button>
    </StackLayout>
</ScrollView>