<ActionBar title="Nova Disciplina" class="action-bar"></ActionBar>

<StackLayout class="page">
    <ScrollView>
        <StackLayout class="form-content">
            <StackLayout class="form" [formGroup]="form">   
                <!-- Notas -->
                <StackLayout style="text-align: center" class="m-10">
                    <GridLayout columns="*,*" rows="*,*,auto,auto">
                        <label col="0" row="0" text="Unidade 1" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="0" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="1º Nota" formControlName='primeiraNota' keyboardType="number"></TextField>
                            <TextField col="1" class="input" hint="2º Nota" formControlName='segundaNota' keyboardType="number"></TextField>
                        </GridLayout>

                        <label col="1" row="0" text="Unidade 2" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="1" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="3º Nota" formControlName='terceiraNota' keyboardType="number"></TextField>
                            <TextField col="1" class="input" hint="4º Nota" formControlName='quartaNota' keyboardType="number"></TextField>
                        </GridLayout>

                        <label col="0" colSpan="2" row="2" text="Final" class="label font-weight-bold m-b-5"></label>
                        <TextField col="0" colSpan="2" row="3" class="input" hint="Nota da Final" formControlName='notaFinal'  keyboardType="number"></TextField>
                    </GridLayout>                  

                    <!-- <label *ngIf="form.get('isEnd').errors.final" class="text-right text-danger" text="Nota não válida"></label> -->
                    
                </StackLayout>

                <!-- name -->
                <StackLayout class="input-field">
                    <label text="Nome" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" formControlName='nome'></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout *ngIf="form.get('nome').invalid && form.get('nome').dirty">
                        <label *ngIf="form.get('nome').errors.required" class="text-right text-danger" text="Campo Obrigatório"></label>
                        <label *ngIf="form.get('nome').errors.minlength" class="text-right text-danger" text="Deve ter no mínimo 2 caracteres"></label>
                        <label *ngIf="form.get('nome').errors.maxlength" class="text-right text-danger" text="Deve ter no máximo 100 caracteres"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Professor -->
                <StackLayout class="input-field">
                    <label text="Professor" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" formControlName='professor'></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Carga Horária -->
                <StackLayout class="input-field">
                    <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" formControlName='cargaHoraria' keyboardType="number"></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout *ngIf="form.get('cargaHoraria').invalid && form.get('cargaHoraria').dirty">
                        <label *ngIf="form.get('cargaHoraria').errors.required" class="text-right text-danger" text="Campo Obrigatório"></label>
                        <label *ngIf="form.get('cargaHoraria').errors.minlength" class="text-right text-danger" text="Deve ter no mínimo 2 caracteres"></label>
                        <label *ngIf="form.get('cargaHoraria').errors.maxlength" class="text-right text-danger" text="Deve ter no máximo 4 caracteres"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Horário -->
                <StackLayout class="input-field">
                    <label text="Horário" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" editable="false" (tap)="showHorarioModal()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Lista de Hórarios -->
                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal" class="list-group m-y-15">
                        <label class="list-group-item" *ngFor="let horario of horarios" [text]="horario.makeHorario()"></label>
                    </StackLayout>
                </ScrollView>

                <button text="Adicionar" class="btn btn-primary" [isEnabled]="form.valid" (tap)="addDisciplina()"></button>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>