<ActionBar title="Nova Disciplina" class="action-bar"></ActionBar>

<StackLayout class="page">
    <ScrollView>
        <StackLayout class="form-content">
            <StackLayout class="form">   
                <!-- Notas -->
                <StackLayout style="text-align: center; font-size: 25px" class="h1">
                    <GridLayout columns="*,*" rows="*,*,auto,auto">
                        <label col="0" row="0" text="Unidade 1" class="label font-weight-bold h3"></label>
                        <GridLayout col="0" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="1º Nota" keyboardType="number" [(ngModel)]="disciplina.primeiraNota" maxlength="4"></TextField>
                            <TextField col="1" class="input" hint="2º Nota" keyboardType="number" [(ngModel)]="disciplina.segundaNota" maxlength="4"></TextField>
                        </GridLayout>

                        <label col="1" row="0" text="Unidade 2" class="label font-weight-bold h3"></label>
                        <GridLayout col="1" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="3º Nota" keyboardType="number" [(ngModel)]="disciplina.terceiraNota" maxlength="4"></TextField>
                            <TextField col="1" class="input" hint="4º Nota" keyboardType="number" [(ngModel)]="disciplina.quartaNota" maxlength="4"></TextField>
                        </GridLayout>

                        <label col="0" colSpan="2" row="2" text="Final" class="label font-weight-bold h3"></label>
                        <TextField col="0" colSpan="2" row="3" class="input" hint="Nota Final" keyboardType="number" [(ngModel)]="disciplina.notaFinal" maxlength="4"></TextField>

                    </GridLayout>

                    <StackLayout style="font-size: 15px;">
                        <label *ngIf="notaValidator()" text="Essa nota não é válida" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Nome -->
                <StackLayout class="input-field" style="margin-top: -50px;">
                    <label text="Nome" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.nome" #elementNome="ngModel" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <label *ngIf="!elementNome.valid && elementNome.dirty" text="Campo Obrigatório" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Professor -->
                <StackLayout class="input-field">
                    <label text="Professor" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.professor" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Carga Horária -->
                <StackLayout class="input-field">
                    <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" keyboardType="number" [(ngModel)]="disciplina.cargaHoraria" #element="ngModel" maxlength="4" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <label *ngIf="!element.valid && element.dirty" text="Campo Obrigatório" class="text-right text-danger"></label>
                        <label *ngIf="cargaHorariaValidator()" text="Minimo de 2 caracteres" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Horário -->
                <StackLayout class="input-field">
                    <label text="Horários" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" hint="Adicione os horários quando for modificar." editable="false"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <button text="Adicionar" class="btn btn-primary" [isEnabled]="element.valid && elementNome.valid && !cargaHorariaValidator() && !notaValorValidation() && !notaValidator()" (tap)="addDisciplina()"></button>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>