/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/forest.css';
/* @import '~nativescript-theme-core/css/core.light.css'; */


/* Configuração da classe dos icones */
.fa {
    font-family: "fontawesome-webfont";
    font-size: 28px;
    color: #000000;
    vertical-align: middle;
}

.form-content {
    background-color: white;
    padding-top: 60px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 30px;
    transform: scale(0.9, 0.9);
}

.page { 
    background-color: teal;
}

.cargaHoraria {
    background-color: #3498db;
    border-radius: 5%;
    color: white;
    padding: 7px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.statusRE {
    background-color: #c0392b;
    border-radius: 5%;
    color: white;
    padding: 7px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.statusAP {
    background-color: #2ecc71;
    border-radius: 5%;
    color: white;
    padding: 7px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}