<ActionBar title="Disciplinas" class="action-bar">
    <ActionItem text="Sobre" ios.position="right" nsRouterLink="/sobre" android.position="popup"></ActionItem>
</ActionBar>

<GridLayout rows="auto, *" sdkExampleTitle sdkToggleNavButton>
    <TabView row="1" selectedIndex="0" androidOffscreenTabLimit="2" tabBackgroundColor="#006968" tabTextColor="white" androidSelectedTabHighlightColor="white" selectedTabTextColor="white">
        <StackLayout *tabItem="{title: 'Inicio'}">
            <GridLayout row="0" rows="auto,auto" columns="*, auto">
                <Label col="0" row="0" text="Previsao do CRE" class="m-15 h2 text-left"></Label>
                <label col="1" row="0" [text]="previsaoCre()" class="m-15 h2 text-left"></label>

                <Label col="0" row="1" text="CRE Atual" class="m-15 h3 text-left"></Label>
                <label col="1" row="1" [text]="calcularCre()" class="m-15 h3 text-left"></label>
            </GridLayout> 
         
        </StackLayout>

        <StackLayout *tabItem="{title: 'Pagando'}">
            <GridLayout row="0" columns="*, auto">
                <ListView  colSpan="2" col="0" [items]="disciplinasAbertas" class="list-group">     
                    <ng-template let-item="item">
                        <GridLayout columns="35px, *" class="list-group-item">
                            <label col="0" [text]="icons.get('trash')" class="fa" (tap)="deleteDisciplina(item)"></label>
                            <Label col="1" [text]='item.nome' [nsRouterLink]="['/disciplina', item.id]"></Label>
                        </GridLayout> 
                    </ng-template>
                </ListView>

                <button col="1" text="+" nsRouterLink="/disciplina" class="btn btn-primary"></button>
                
            </GridLayout>
        </StackLayout>

        <StackLayout *tabItem="{title: 'Histórico'}"> 
            <ListView [items]="disciplinasFechadas" class="list-group">     
                <ng-template let-item="item">
                    <GridLayout columns="*, 60px, 60px, auto" class="list-group-item" (tap)="deleteDisciplina(item)">
                        <label col="0" [text]='item.nome'></label>
                        <Label col="1" [text]="item.cargaHoraria + 'CH'" style="text-align: center" class="cargaHoraria"></Label>
                        <label col="2" [text]="calcularNota(item)" style="text-align: center" class="nota"></label>
                        <label *ngIf="item.status === 'AP'" col="3" [text]="item.status" class="statusAP"></label>
                        <label *ngIf="item.status === 'RE'" col="3" [text]="item.status" class="statusRE"></label>
                    </GridLayout> 
                </ng-template>
            </ListView>
        </StackLayout>
    </TabView>
</GridLayout>