<ActionBar title="Diciplinas" class="action-bar">
    <ActionItem text="Sobre" ios.position="right" nsRouterLink="/sobre" android.position="popup"></ActionItem>
</ActionBar>



<GridLayout class="page" rows="auto, *" sdkExampleTitle sdkToggleNavButton>

    <GridLayout row="0" columns="*, auto">
        <Label col="0" text="Previsão do CRE" class="m-15 h2 text-left"></Label>
        <label col="1" text="9" class="m-15 h2 text-left"></label>
    </GridLayout>

    <TabView row="1" selectedIndex="0" androidOffscreenTabLimit="1">
        <StackLayout *tabItem="{title: 'Atuais'}">
            <GridLayout row="0" columns="*, auto">
                <ListView colSpan="2" col="0" [items]="disciplinas" class="list-group">     
                    <ng-template let-item="item">
                        <GridLayout columns="35px, *" class="list-group-item">
                            <label col="0" [text]="icons.get('trash')" class="fa"></label>
                            <Label col="1" [text]='item.nome'></Label>
                        </GridLayout> 
                    </ng-template>
                </ListView>

                <button col="1" text="+" nsRouterLink="/disciplina" class="btn btn-primary"></button>
            </GridLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Histórico'}"> 
            <ListView [items]="disciplinas" class="list-group">     
                <ng-template let-item="item">
                    <GridLayout columns="35px, *, auto" class="list-group-item">
                        <label col="0" [text]="icons.get('trash')" class="fa"></label>
                        <Label col="1" [text]='item.nome'></Label>
                        <label col="2" [text]="item.isClosed ? icons.get('aprovado') : icons.get('reprovadoCheio')" class="fa"></label>
                    </GridLayout> 
                </ng-template>
            </ListView>
        </StackLayout>
    </TabView>
</GridLayout>