<ActionBar title="Diciplinas" class="action-bar">
    <ActionItem text="Sobre" ios.position="right" nsRouterLink="/sobre" android.position="popup"></ActionItem>
</ActionBar>



<GridLayout class="page" rows="auto, *">

    <GridLayout row="0" columns="*, auto">
        <Label col="0" text="Previsão do CRE" class="m-15 h2 text-left"></Label>
        <label col="1" text="9" class="m-15 h2 text-left"></label>
    </GridLayout>

    <TabView row="1" selectedIndex="0"  sdkExampleTitle sdkToggleNavButton>
        <StackLayout *tabItem="{title: 'Atuais'}">
            <ListView [items]="disciplinas" class="list-group">     
                <ng-template let-item="item"> 
                    <Label [text]='item.nome' class="list-group-item"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Histórico'}"> 
            <Label text="Segunda" class="m-15 h2 text-left" color="blue"></Label>
        </StackLayout>
    </TabView>
</GridLayout>