<ActionBar title="Atualizar" class="action-bar"></ActionBar>

<StackLayout class="page">
    <ScrollView>
        <StackLayout class="form-content">
            <StackLayout class="form">
                <!-- Notas -->
                <CardView class="cardStyle" margin="10" elevation="20" radius="15" style="margin-bottom: 100px;">
                        <StackLayout style="text-align: center; font-size: 25px; padding-top: 25px;" class="h1">
                            <label text="Notas" class="text-muted"></label>
                            <StackLayout>
                                <GridLayout columns="*,*" rows="*,*,auto,auto">
                                    <label col="0" row="0" text="Unidade 1" class="label font-weight-bold h3"></label>
                                    <GridLayout col="0" row="1" columns="*,*" class="input-field">
                                        <StackLayout col="0" class="m-x-10">
                                            <TextField class="input" hint="1º Nota" keyboardType="number" [(ngModel)]="disciplina.primeiraNota" maxlength="4"></TextField>
                                            <StackLayout class="hr-light"></StackLayout>
                                        </StackLayout>
                                        <StackLayout col="1" class="m-x-10">
                                            <TextField class="input" hint="2º Nota" keyboardType="number" [(ngModel)]="disciplina.segundaNota" maxlength="4"></TextField>
                                            <StackLayout class="hr-light"></StackLayout>
                                        </StackLayout>
                                    </GridLayout>
    
                                    <label col="1" row="0" text="Unidade 2" class="label font-weight-bold h3"></label>
                                    <GridLayout col="1" row="1" columns="*,*" class="input-field">
                                        <StackLayout col="0" class="m-x-10">
                                            <TextField class="input" hint="3º Nota" keyboardType="number" [(ngModel)]="disciplina.terceiraNota" maxlength="4"></TextField>
                                            <StackLayout class="hr-light"></StackLayout>
                                        </StackLayout>
                                        <StackLayout col="1" class="m-x-10">
                                            <TextField class="input" hint="4º Nota" keyboardType="number" [(ngModel)]="disciplina.quartaNota" maxlength="4"></TextField>
                                            <StackLayout class="hr-light"></StackLayout>
                                        </StackLayout>
                                    </GridLayout>
    
                                    <label col="0" colSpan="2" row="2" text="Final" class="label font-weight-bold h3"></label>
                                    <StackLayout col="0" colSpan="2" row="3" class="input-field m-b-10">
                                        <TextField class="input" hint="Nota Final" keyboardType="number" [(ngModel)]="disciplina.notaFinal" maxlength="4"></TextField>
                                        <StackLayout class="hr-light" style="width: 200px;"></StackLayout>
                                    </StackLayout>
                                </GridLayout>
    
                                <StackLayout style="font-size: 15px;">
                                    <label *ngIf="notaValidator()" text="Essa nota não é válida" class="text-right text-danger m-15"></label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </CardView>

                <!-- Nome -->
                <StackLayout class="input-field" style="margin-top: -50px;">
                    <label text="Nome" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.nome" #elementNome="ngModel" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <label *ngIf="!elementNome.valid" text="Campo Obrigatório" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Nome -->
                <StackLayout class="input-field">
                    <label text="Professor" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.professor"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Carga Horária -->
                <StackLayout class="input-field">
                    <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" keyboardType="number" [(ngModel)]="disciplina.cargaHoraria" #element="ngModel" maxlength="4" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <label *ngIf="!element.valid" text="Campo Obrigatório" class="text-right text-danger"></label>
                        <label *ngIf="cargaHorariaValidator()" text="Minimo de 2 caracteres" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Horário -->
                <StackLayout class="input-field">
                    <label text="Horário" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input m-l-15" hint="Toque aqui" editable="false" (tap)="showHorarioModal()"></TextField>
                </StackLayout>

                <!-- Lista de Hórarios -->
                <StackLayout>
                    <StackLayout orientation="horizontal" class="list-group">
                        <CardView *ngFor="let horario of horarios" class="cardStyle" margin="5" elevation="5" radius="15" style=" background-color: #5485e4"> 
                            <label class="list-group-horario"  [text]="horario.makeHorario()"></label>
                        </CardView>
                    </StackLayout>
                    <label *ngIf="!haveHorario()" row="1" textWrap="true" text="Toque em um horário para excluir." style="font-size: 15px; margin: -5px 25px 20px 35px;" class="text-muted"></label >
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
                <!-- Está Fechada? -->
                <GridLayout class="input-field" rows="*, *">
                    <CheckBox #CB1 row="0" text="Fechar Disciplina" fillColor="#5485e4" class="checkBox" [(ngModel)]="disciplina.isClosed"></CheckBox> 
                    <label row="1" textWrap="true" text="Uma disciplina fechada não poderá mais ser modificada." style="font-size: 15px; margin: -5px 25px 20px 15px;" class="text-muted"></label >  
                </GridLayout>

                <button text="Atualizar" class="btn btn-primary" [isEnabled]="element.valid && elementNome.valid && !cargaHorariaValidator() && !notaValorValidation() && !notaValidator()" (tap)="updateDisciplina()"></button>

            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>