
/* Nao ta pegando, conferir */
.checkBox {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 50px;
    margin-top: 15px;
}

.input[notaValorValidation] {
    border-left-color: #a94442; 
    border-left-width: 3;
}