<ActionBar title="Atualizar" class="action-bar"></ActionBar>

<StackLayout class="page">
    <ScrollView>
        <StackLayout class="form-content">
            <StackLayout class="form">
                <!-- Notas -->
                <StackLayout style="text-align: center" class="m-10">
                    <GridLayout columns="*,*" rows="*,*,auto,auto">
                        <label col="0" row="0" text="Unidade 1" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="0" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="1º Nota" [(ngModel)]="disciplina.primeiraNota"></TextField>
                            <TextField col="1" class="input" hint="2º Nota" [(ngModel)]="disciplina.segundaNota"></TextField>
                        </GridLayout>

                        <label col="1" row="0" text="Unidade 2" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="1" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="3º Nota" [(ngModel)]="disciplina.terceiraNota"></TextField>
                            <TextField col="1" class="input" hint="4º Nota" [(ngModel)]="disciplina.quartaNota"></TextField>
                        </GridLayout>

                        <label col="0" colSpan="2" row="2" text="Final" class="label font-weight-bold m-b-5"></label>
                        <TextField col="0" colSpan="2" row="3" class="input" hint="Nota da Final" [(ngModel)]="disciplina.notaFinal"></TextField>
                    </GridLayout>
                </StackLayout>

                <!-- Professor -->
                <StackLayout class="input-field">
                    <label text="Professor" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [text]="disciplina.professor"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Carga Horária -->
                <StackLayout class="input-field">
                    <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [text]="disciplina.cargaHoraria"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Horário -->
                <StackLayout class="input-field">
                    <label text="Horário" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [text]="disciplina.horario"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Sala -->
                <StackLayout class="input-field">
                    <label text="Sala" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [text]="disciplina.sala"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                    <!-- Está Fechada? -->
                <GridLayout columns="*, auto" class="input-field">
                    <label col="0" text="Fechar Disciplina" class="label font-weight-bold m-b-5"></label>
                    <Switch col="1" checked="false" class="Switch" isEnabled="false"></Switch>
                </GridLayout> 

                <button text="Salvar" class="btn btn-primary"></button>

            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>