<ActionBar title="Atualizar" class="action-bar"></ActionBar>

<StackLayout class="page">
    <ScrollView>
        <StackLayout class="form-content">
            <StackLayout class="form">
                <!-- Notas -->
                <StackLayout style="text-align: center" class="m-10">
                    <GridLayout columns="*,*" rows="*,*,auto,auto">
                        <label col="0" row="0" text="Unidade 1" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="0" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="1º Nota" keyboardType="number" [(ngModel)]="disciplina.primeiraNota" maxlength="3"></TextField>
                            <TextField col="1" class="input" hint="2º Nota" keyboardType="number" [(ngModel)]="disciplina.segundaNota" maxlength="3"></TextField>
                        </GridLayout>

                        <label col="1" row="0" text="Unidade 2" class="label font-weight-bold m-b-5"></label>
                        <GridLayout col="1" row="1" columns="*,*" class="input-field">
                            <TextField col="0" class="input" hint="3º Nota" keyboardType="number" [(ngModel)]="disciplina.terceiraNota" maxlength="3"></TextField>
                            <TextField col="1" class="input" hint="4º Nota" keyboardType="number" [(ngModel)]="disciplina.quartaNota" maxlength="3"></TextField>
                        </GridLayout>

                        <label col="0" colSpan="2" row="2" text="Final" class="label font-weight-bold m-b-5"></label>
                        <TextField col="0" colSpan="2" row="3" class="input" hint="Nota da Final" keyboardType="number" [(ngModel)]="disciplina.notaFinal" maxlength="3"></TextField>

                    </GridLayout>
                </StackLayout>

                <!-- Nome -->
                <StackLayout class="input-field">
                    <label text="Nome" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.nome"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Nome -->
                <StackLayout class="input-field">
                    <label text="Professor" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" [(ngModel)]="disciplina.professor"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Carga Horária -->
                <StackLayout class="input-field">
                    <label text="Carga Horária" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" keyboardType="number" [(ngModel)]="disciplina.cargaHoraria" #element="ngModel" maxlength="3" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <label *ngIf="!element.valid" text="Campo Obrigatório" class="text-right text-danger"></label>
                    </StackLayout>
                </StackLayout>

                <!-- Horário -->
                <StackLayout class="input-field">
                    <label text="Horário" class="label font-weight-bold m-b-5"></label>
                    <TextField class="input" hint="Toque aqui" editable="false" (tap)="showHorarioModal()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <!-- Lista de Hórarios -->
                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal" class="list-group m-y-15">
                        <label class="list-group-item" *ngFor="let horario of horarios" [text]="horario.makeHorario()"></label>
                    </StackLayout>
                </ScrollView>

                <!-- Está Fechada? -->
                <CheckBox #CB1 text="Fechar Disciplina" fillColor="#006968" class="checkBox" checked="false"></CheckBox>   

                <button text="Atualizar" class="btn btn-primary" [isEnabled]="element.valid" (tap)="updateDisciplina()"></button>

            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>

<!-- <StackLayout class="input-field">
    <label text="Professor" class="label font-weight-bold m-b-5"></label>
    <TextField class="input" [(ngModel)]="textField"  #professor="ngModel" name="professor"></TextField>
    <label *ngIf="!professor.valid" text="Esse campo é obrigatorio"></label>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout> -->