.statusMT {
  background-color: #757575;
  border-radius: 5%;
  color: white;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.professor {
  background-color: #BDBDBD;
  border-radius: 5%;
  color: white;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.quadroNota {
  margin-top: 15px;
  font-size: 20px;
}

