<ScrollView>
    <StackLayout class="content-disciplina">
        <label text="Quatidade de aulas/Dia" class="title"></label>

        <DockLayout>
            <ListPicker selectedIndex="1"  [items]="qtdAulas" class="m-l-15 picker" (selectedIndexChange)="selectedIndexChangedAula($event)"></ListPicker>
            <ListPicker selectedIndex="0"  [items]="dias" class="m-r-15 picker" (selectedIndexChange)="selectedIndexChangedDia($event)"></ListPicker>
        </DockLayout>
       
        <!-- Hora -->
        <StackLayout style="width: 400px;">
            <label text="Horário" class="label font-weight-bold"></label>
            <TextField hint="18:00" class="input" backgroundColor="#f5f5f5" keyboardType="datetime" [text]="horario.hora" [(ngModel)]="horario.hora"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <!-- Sala -->
        <StackLayout class="m-t-15" style="width: 400px;">
            <label text="Sala" class="label font-weight-bold"></label>
            <TextField class="input" [text]="horario.sala" backgroundColor="#f5f5f5" [(ngModel)]="horario.sala"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        
        <button class="btn btn-primary m-t-15" text="Adicionar" (tap)="sendNewHorario()"></button>
    </StackLayout>
</ScrollView>